<!DOCTYPE html>
<html>
<head>
  <title>Panel <%= rol %></title>
</head>
<body>
  <h1>Bienvenido al panel de <%= rol %></h1>
  <p>Nombre: <%= usuario.nombre %> <%= usuario.apellido_paterno %> <%= usuario.apellido_materno%></p>
  <p>Correo: <%= usuario.correo %></p>
  <p>Rol: <%= usuario.rol %></p>
</body>
</html>
